﻿@model IEnumerable<DiemDanhVanTay.Models.Phong>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Phòng";
    ViewBag.Page = "Phong";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TenPhong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoChoNgoi)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TenPhong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoChoNgoi)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PhongID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PhongID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PhongID })
        </td>
    </tr>
}

</table>
