﻿@model DiemDanhVanTay.Models.LoaiNguoiDung

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Cập nhật thông tin loại người dùng";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.LoaiNguoiDungID)
    <div class="">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Cập nhật thông tin loại người dùng
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> Loại người dùng
                    </a>
                </li>
                <li class="active">Cập nhật thông tin</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-offset-3 col-md-6">
                    <!-- general form elements -->
                    <div class="box box-primary mt-20">
                        <div class="box-header with-border">
                            <h3 class="box-title">Cập nhật thông tin loại người dùng</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Loại người dùng </label>
                                    @Html.EditorFor(model => model.TenLoaiNguoiDung, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenLoaiNguoiDung, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Trạng thái </label>
                                    <select name="accountType" class="form-control">
                                        <option value="0" @(Model.TrangThai == 0 ? " selected" : "")>Tạm khóa</option>
                                        <option value="1" @(Model.TrangThai == 1 ? " selected" : "")>Hoạt động</option>
                                    </select>
                                    @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                @Html.ActionLink("Quay lại danh sách", "Index")
                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
}
