﻿@model IEnumerable<DiemDanhVanTay.Models.LoaiNguoiDung>

@{
     Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Loại Người Dùng";
}


<div class="row">
    <div class="col-md-12">
        <div class="box box-primary ">
            <div class="box-header with-border">
                <h3 class="box-title">
                    <i class="fa fa-bar-chart"></i> Loại Người Dùng
                </h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            
                            <th>@Html.DisplayNameFor(model => model.TenLoaiNguoiDung)</th>
                            <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            
                            <td>
                                @Html.DisplayFor(modelItem => item.TenLoaiNguoiDung)
                            </td>
                            
                            <td>
                                @if (item.TrangThai == 1)
                                {
                                    <span class="label label-success">Hoạt động</span>
                                }
                                else
                                {
                                    <span class="label label-danger">Tạm khóa</span>
                                }

                            </td>
                            <td>@Html.ActionLink("Cập nhật thông tin", "Edit", new { id = item.LoaiNguoiDungID })</td>
                        </tr>
                        }
                    </tbody>
                </table>

            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>

