﻿@model DiemDanhVanTay.Models.SuKien

@{
    ViewBag.Title = "Xóa Sự kiện";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<section class="content-header margin-x">
    <h1>
        Bạn có muốn xáo sự kiện
        <small>#@Html.DisplayFor(model => model.SuKienID)</small> không?
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Trang chủ
            </a>
        </li>
        <li>
            <a href="#">Sự kiện</a>
        </li> 
        <li class="active">xóa sự kiện</li>
    </ol>
</section>
<!-- Main content -->
<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-book"></i> @Html.DisplayFor(model => model.TenSuKien)
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-md-12 invoice-col">
            <p>
                @Html.DisplayFor(model => model.MoTa).
            </p>
            <br>
            <b>Phòng học:</b> @Html.DisplayFor(model => model.Phong.TenPhong)
            <br>
            <b>Số lượng:</b> @Html.DisplayFor(model => model.SoNguoiThamGia)
            <br>
            <b>Ngày bắt đầu:</b> @Html.DisplayFor(model => model.NgayBatDau)
            <br>
            <b>Ngày kết thúc:</b> @Html.DisplayFor(model => model.NgayKetThuc)
            <br>
            <b>Thời gian:</b> @Html.DisplayFor(model => model.ThoiGianBatDau) - @Html.DisplayFor(model => model.ThoiGianKetThuc)
            <br>
            
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <b>@Html.ActionLink("Quay lại danh sách", "Index")</b>
                    <input type="submit" value="Delete" class="btn btn-warning" />
                </div>
            }
        </div>
    </div>
    <!-- /.row -->
</section>

    
