﻿@*@model DiemDanhVanTay.Models.SuKien*@
@using DiemDanhVanTay.Models;
@model Tuple<SuKien, IEnumerable<ThongTinThamGiaSuKien>>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Thông tin sự kiện";
}


<!-- Content Wrapper. Contains page content -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header margin-x">
        <h1>
            Chi tiết sự kiện
            <small>#@Html.DisplayFor(model => model.Item1.SuKienID)</small>
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Trang chủ
                </a>
            </li>
            <li>
                <a href="#">Sự kiện</a>
            </li>
            <li class="active">Chi tiết sự kiện</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="invoice">
        <!-- title row -->
        <div class="row">
            <div class="col-xs-12">
                <h2 class="page-header">
                    <i class="fa fa-book"></i> @Html.DisplayFor(model => model.Item1.TenSuKien)
                    <a href="~/SuKien/Delete/@Html.DisplayFor(model => model.Item1.SuKienID)" class="ml-5 text-small pull-right label label-danger">
                        <i class="fa fa-fw fa-trash"></i> Xóa sự kiện
                    </a>
                    <a href="~/SuKien/Edit/@Html.DisplayFor(model => model.Item1.SuKienID)" class="ml-5 text-small pull-right label label-info">
                        <i class="fa fa-fw fa-edit"></i> Cập nhật thông tin
                    </a>
                    
                    @*<small class="text-small pull-right label label-success">Đang hoạt động</small>*@
                </h2> 
            </div>
            <!-- /.col -->
        </div>
        <!-- info row -->
        <div class="row invoice-info">
            <div class="col-md-12 invoice-col">
                <p>
                    @Html.DisplayFor(model => model.Item1.MoTa).
                </p>
                <br>
                <b>Giáo viên:</b>
                <a href="~/NguoiDung/Details/@ViewBag.giaovien.NguoiDungID">@ViewBag.giaovien.HoTen</a>
                <br>
                <b>Phòng học:</b> @Html.DisplayFor(model => model.Item1.Phong.TenPhong)
                <br>
                <b>Số lượng:</b> @Html.DisplayFor(model => model.Item1.SoNguoiThamGia)
                <br>
                <b>Ngày bắt đầu:</b> @Html.DisplayFor(model => model.Item1.NgayBatDau)
                <br>
                <b>Ngày kết thúc:</b> @Html.DisplayFor(model => model.Item1.NgayKetThuc)
                <br>
                <b>Thời gian:</b> @Html.DisplayFor(model => model.Item1.ThoiGianBatDau) - @Html.DisplayFor(model => model.Item1.ThoiGianKetThuc)
                <br>
                <b>@Html.ActionLink("Quay lại danh sách", "Index")</b> 
            </div>
        </div>
        <!-- /.row -->
    </section>

    <section class="p-15">
        <div class="margin-x">
            <div class="box box-primary mb-0">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-bar-chart"></i> Thống kê
                    </h3>

                    <div class="box-tools pull-right">
                        
                        <a href="./addEventStudent.html" class="ml-5 text-small label label-info">
                            <i class="fa fa-fw fa-plus"></i> Cập nhật sinh viên
                        </a>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example3" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Mã thẻ từ</th>
                                <th>Tên sinh viên</th>
                                <th>thời gian vào</th>
                                <th>thời gian ra</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Item2)
                                {
                                <tr>
                                    <td>01</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.NguoiDung.MSSV)
                                    </td>
                                    <td>
                                        <a href="#">@Html.DisplayFor(modelItem => item.NguoiDung.HoTen)</a>
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.NguoiDungID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.NguoiDungID)</td>
                                    <td>
                                        @if (item.TrangThai == 1)
                                            {
                                            <span class="label label-success">Có mặt</span>
                                            }
                                            else
                                            {
                                            <span class="label label-danger">Vắng</span>
                                            }

                                    </td>
                                </tr>
                                }
                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </section>

    <!-- /.content -->
    <div class="clearfix"></div>
</div>


