﻿@model DiemDanhVanTay.Models.SuKien

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Cập nhật thông tin sự kiện";
}

@*<h2>Create</h2>*@


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Cập nhật thông tin sự kiện
            </h1>
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-dashboard"></i> Sự kiện
                    </a>
                </li>
                <li class="active">Thêm mới</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-offset-3 col-md-6">
                    <!-- general form elements -->
                    <div class="box box-primary mt-20">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thêm mới sự kiện</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form role="form">
                            <div class="box-body">
                               

                                <div class="form-group">
                                    <label>Tên sự kiện</label>
                                    @Html.EditorFor(model => model.TenSuKien, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.TenSuKien, "", new { @class = "text-danger" })
                                    </div>
                                <div class="form-group">
                                    <label>Nội dung </label>
                                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Phòng diễn ra sự kiện</label>
                                    @Html.DropDownList("PhongID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.PhongID, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <label>Người phụ trách sự kiện</label>
                                    @Html.DropDownList("NguoiPhuTrachID", null, htmlAttributes: new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.NguoiPhuTrachID, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Số lượng sinh viên</label>
                                    @Html.EditorFor(model => model.SoNguoiToiDa, new { htmlAttributes = new { @class = "form-control", @Value = 0 } })
                                    @Html.ValidationMessageFor(model => model.SoNguoiToiDa, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label>Ngày bắt đầu</label>
                                    @Html.EditorFor(model => model.NgayBatDau, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NgayBatDau, "", new { @class = "text-danger" })
                                    <p class="help-block">vd: 05/31/2018, 03:12 PM</p>
                                </div>
                                <div class="form-group"> 
                                    <label>Ngày kết thúc</label>
                                    @Html.EditorFor(model => model.NgayKetThuc, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.NgayKetThuc, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                @Html.ActionLink("Quay lại danh sách", "Index")
                                <button type="submit" class="btn btn-primary">Gửi</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>

}


@*@section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@
