﻿@model IEnumerable<DiemDanhVanTay.Models.SuKien>

@{
    ViewBag.Title = "quản lý sự kiện";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!-- Content Wrapper. Contains page content -->
<div class="">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Danh Sách Các Sự Kiện
        </h1>
        <ol class="breadcrumb">
            <li>
                <a href="#">
                    <i class="fa fa-dashboard"></i> Trang chủ
                </a>
            </li>
            <li class="active">Danh Sách Các Sự Kiện</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Danh sách các sự kiện</h3>

                        <div class="box-tools pull-right">
                           @* <button type="button" class="btn btn-box-tool" @*data-widget="collapse">*@
                                @Html.ActionLink("Thêm mới", "Create")
                            @*</button>*@
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <div class="row"> 
                            @foreach (var item in Model)
                            {
                                <div class="col-lg-4 col-md-4 col-xs-6">
                                    <div class="small-box bg-aqua">
                                        <div class="inner">
                                            <h3>
                                                <span class="text-small">p.</span>@Html.DisplayFor(modelItem => item.Phong.TenPhong)
                                            </h3>

                                            <p>@Html.DisplayFor(modelItem => item.TenSuKien)</p><br />
                                            @*<p>@Html.DisplayFor(modelItem => item.NgayKetThuc)</p>*@
                                        </div>
                                        <div class="icon">
                                            <i class="fa fa-book"></i>
                                        </div>
                                        @Html.ActionLink(" Chi tiết", "Details", new { id = item.SuKienID }, new { @class = "text-info small-box-footer fa fa-arrow-circle-right" })
                                        @*<a href="./event_detail.html" class="small-box-footer">
                                                Xem chi tiết
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>*@
                                    </div>
                                </div>
                            }
                        </div>

                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- left column -->
            @*<div class="col-sm-4">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Thêm mới sự kiện</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                                                <!-- form start -->
                            <form role="form" action="post">
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Tên sự kiện</label>
                                        @Html.EditorFor(model => Model.Item2.TenSuKien, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => Model.Item2.TenSuKien, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Nội dung </label>
                                        @Html.EditorFor(model => Model.Item2.MoTa, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => Model.Item2.MoTa, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Giáo viên</label>
                                        <select class="form-control">
                                            <option>Phạm Minh Tú</option>
                                            <option>Nguyễn Văn A</option>
                                            <option>Nguyễn Văn B</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>Số lượng sinh viên</label>
                                        @Html.EditorFor(model => Model.Item2.SoNguoiToiDa, new { htmlAttributes = new { @class = "form-control", @Value = 0 } })
                                        @Html.ValidationMessageFor(model => Model.Item2.SoNguoiToiDa, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày bắt đầu</label>
                                        @Html.EditorFor(model => Model.Item2.NgayBatDau, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => Model.Item2.NgayBatDau, "", new { @class = "text-danger" })
                                        <p class="help-block">vd: 05/31/2018, 03:12 PM</p>
                                    </div>
                                    <div class="form-group">
                                        <label>Ngày kết thúc</label>
                                        @Html.EditorFor(model => Model.Item2.NgayKetThuc, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => Model.Item2.NgayKetThuc, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" checked> Hoạt động
                                        </label>
                                    </div>
                                </div>
                                <!-- /.box-body -->

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </form>


                        }
                    </div>
                    <!-- /.box -->
                </div>*@
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->
</div>