﻿@model api_vantay.Models.thongtinthamgiasukien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>thongtinthamgiasukien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThongTinThamGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThongTinThamGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nguoidung.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nguoidung.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sukien.TenSuKien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sukien.TenSuKien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
