﻿@model IEnumerable<api_vantay.Models.thongtinthamgiasukien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTinThamGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nguoidung.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sukien.TenSuKien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTinThamGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nguoidung.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sukien.TenSuKien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
