﻿@model IEnumerable<DiemDanhVanTay.Models.ThongTinThamGiaSuKien>

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Trang chủ";
    ViewBag.Page = "Home";
}

<section class="content-header margin-x">
    <h1>
        Dashboard
    </h1>
    <ol class="breadcrumb">
        <li class="active">
            <i class="fa fa-dashboard"></i><a href="@Url.Action("Index", "Home")">Trang chủ</a>
        </li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-6">
            <!-- LINE CHART -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Điểm Danh</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="line-chart" style="height: 300px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <div class="col-md-6">
            <!-- AREA CHART -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thống Kê Điểm Danh</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-box-tool" data-widget="remove">
                            <i class="fa fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body chart-responsive">
                    <div class="chart" id="revenue-chart" style="height: 300px;"></div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary ">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-bar-chart"></i> Điểm danh
                    </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã số sinh viên</th>
                                <th>Tên sinh viên</th>
                                <th>Sự kiện</th>
                                <th>thời gian vào</th>
                                <th>thời gian ra</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model)
                            {
                                if (item.TrangThai == 1)
                                {
                                    <tr>
                                        <td>@i</td>
                                        <td>
                                            @Html.ValueFor(modelItem => item.NguoiDung.MSSV)
                                        </td>
                                        <td>
                                            <a href="@Url.Action("Details", "NguoiDung", new { id = item.NguoiDungID })">@Html.ValueFor(modelItem => item.NguoiDung.HoTen)</a>
                                        </td>
                                        <td>@Html.ValueFor(modelItem => item.SuKien.TenSuKien)</td>
                                        <td>@Html.ValueFor(modelItem => item.ThoiGianVao)</td>
                                        <td>@Html.ValueFor(modelItem => item.ThoiGianRa)</td>
                                        <td>
                                            <span class="label label-success">đi học</span>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            }
                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-bar-chart"></i> Thống kê Điểm Danh
                    </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example3" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã số sinh viên</th>
                                <th>Tên sinh viên</th>
                                <th>Sự kiện</th>
                                <th>Thời gian vào</th>
                                <th>Thời gian ra</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{i = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @Html.ValueFor(modelItem => item.NguoiDung.MSSV)
                                    </td>
                                    <td>
                                        <a href="@Url.Action("Details", "NguoiDung", new { id = item.NguoiDungID })">@Html.ValueFor(modelItem => item.NguoiDung.HoTen)</a>
                                    </td>
                                    <td>@Html.ValueFor(modelItem => item.SuKien.TenSuKien)</td>
                                    <td>@Html.ValueFor(modelItem => item.ThoiGianVao)</td>
                                    <td>@Html.ValueFor(modelItem => item.ThoiGianRa)</td>
                                    <td>
                                        @if (item.TrangThai == 1)
                                        {
                                            <span class="label label-success">đi học</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">nghỉ học</span>
                                        }

                                    </td>
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
