﻿@model DiemDanhVanTay.Models.ThongTinThamGiaSuKien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ThongTinThamGiaSuKien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.MSSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuKien.TenSuKien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuKien.TenSuKien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianVao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianVao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ThoiGianRa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThoiGianRa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LaGiangVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LaGiangVien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
