﻿@model DiemDanhVanTay.Models.ThongTinThamGiaSuKien

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ThongTinThamGiaSuKien</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.SuKienID)

        @Html.HiddenFor(model => model.NguoiDungID)

        <div class="form-group">
            @Html.LabelFor(model => model.TrangThai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TrangThai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TrangThai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianVao, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if (Model.ThoiGianRa == null)
                {
                    @Html.EditorFor(model => model.ThoiGianVao, new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                {
                    @Html.EditorFor(model => model.ThoiGianVao, new { htmlAttributes = new { @class = "form-control", @Value = Convert.ToDateTime(Model.ThoiGianVao) } })
                }
                @Html.ValidationMessageFor(model => model.ThoiGianVao, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ThoiGianRa, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @if(Model.ThoiGianRa == null)
                {
                    @Html.EditorFor(model => model.ThoiGianRa, new { htmlAttributes = new { @class = "form-control" } })
                }
                else
                {
                    @Html.EditorFor(model => model.ThoiGianRa, new { htmlAttributes = new { @class = "form-control", @Value = Convert.ToDateTime(Model.ThoiGianRa) } })
                }              
                @Html.ValidationMessageFor(model => model.ThoiGianRa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LaGiangVien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.LaGiangVien)
                    @Html.ValidationMessageFor(model => model.LaGiangVien, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
