﻿@model IEnumerable<DiemDanhVanTay.Models.ThongTinThamGiaSuKien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.MSSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuKien.TenSuKien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianVao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThoiGianRa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LaGiangVien)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.MSSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuKien.TenSuKien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianVao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThoiGianRa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LaGiangVien)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { suKienId = item.SuKienID, nguoiDungId = item.NguoiDungID }) |
            @Html.ActionLink("Details", "Details", new { suKienId = item.SuKienID, nguoiDungId = item.NguoiDungID }) |
            @Html.ActionLink("Delete", "Delete", new { suKienId = item.SuKienID, nguoiDungId = item.NguoiDungID })
        </td>
    </tr>
}

</table>
