﻿@model DiemDanhVanTay.Models.TheTu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TheTu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NguoiDung.MSSV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NguoiDung.MSSV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VanTay1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VanTay1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VanTay2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VanTay2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VanTay3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VanTay3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TheTuID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
