﻿@*@model IEnumerable<DiemDanhVanTay.Models.TheTu>*@
@model DiemDanhVanTay.Models.CreateAndIndexTheTuModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Thẻ từ";
    ViewBag.Page = "TheTu";
}

@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NguoiDung.MSSV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VanTay1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VanTay2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VanTay3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NguoiDung.MSSV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VanTay1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VanTay2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VanTay3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhat)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TheTuID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TheTuID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TheTuID })
        </td>
    </tr>
}

</table>*@

<section class="content-header">
    <h1>
        Tài khoản
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-dashboard"></i> Trang chủ
            </a>
        </li>
        <li class="active">Thẻ từ</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-8">
            <div class="box box-primary">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Mã thẻ</th>
                                <th>Họ tên</th>
                                <th>Ngày tạo</th>
                                <th>Ngày cập nhật</th>
                                <th>Trạng thái</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TheTus)
                            {
                                <tr>
                                    <td>@Html.ValueFor(modelItem => item.TheTuID)</td>
                                    <td>
                                        <a href="@Url.Action("Details", "NguoiDung", new { id = item.NguoiDungID })">
                                            @Html.ValueFor(modelItem => item.NguoiDung.HoTen)
                                        </a>
                                    </td>
                                    <td>@Html.ValueFor(modelItem => item.NgayTao)</td>
                                    <td>@Html.ValueFor(modelItem => item.NgayCapNhat)</td>
                                    @if (item.TrangThai)
                                    {
                                        <td>
                                            <i class="fa fa-check text-success"></i>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <i class="fa fa-ban text-danger"></i>
                                        </td>
                                    }

                                    <td class="text-right">
                                        <a href="@Url.Action("Edit", "TheTu", new { id = item.TheTuID })" class="btn btn-xs btn-info">
                                            <i class="fa fa-fw fa-edit"></i> Edit
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- left column -->
        <div class="col-sm-4">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Tạo thẻ</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group">
                            <label>MSSV</label>
                            @*@Html.DropDownList("LoaiNguoiDungID", null, htmlAttributes: new { @class = "form-control" });*@
                            @Html.DropDownListFor(model => model.TheTu.NguoiDungID, ViewBag.NguoiDungID as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control", @id = "ddlNguoiDung" })
                        </div>
                        <div class="form-group">
                            <label>Họ tên</label>
                            @Html.TextBox("txtHoTen", "", htmlAttributes: new { @class = "form-control", @id = "txtHoTen", @readonly = "readonly" })
                        </div>
                        <div class="form-group">
                            <label>CMND</label>
                            @Html.TextBox("txtCMND", "", htmlAttributes: new { @class = "form-control", @id = "txtCMND", @readonly = "readonly" })
                        </div>
                        <div class="checkbox">
                            @*<label>
                                    <input type="checkbox" checked> Kích hoạt tài khoản
                                </label>*@
                            <label>
                                @Html.EditorFor(model => model.TheTu.TrangThai) Kích hoạt thẻ
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Thêm</button>
                    </div>
                }
                @*</form>*@
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
