﻿@model DiemDanhVanTay.Models.MaMayThamGiaSuKien

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MaMayThamGiaSuKien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MayQuetTheVanTay.TenMay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MayQuetTheVanTay.TenMay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SuKien.TenSuKien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SuKien.TenSuKien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { suKienId = Model.SuKienID, mayQuetId = Model.MayQuetTheVanTayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
