﻿@model IEnumerable<DiemDanhVanTay.Models.MaMayThamGiaSuKien>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MayQuetTheVanTay.TenMay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SuKien.TenSuKien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MayQuetTheVanTay.TenMay)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SuKien.TenSuKien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThai)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { suKienId = item.SuKienID, mayQuetId = item.MayQuetTheVanTayID }) |
            @Html.ActionLink("Details", "Details", new { suKienId = item.SuKienID, mayQuetId = item.MayQuetTheVanTayID }) |
            @Html.ActionLink("Delete", "Delete", new { suKienId = item.SuKienID, mayQuetId = item.MayQuetTheVanTayID })
        </td>
    </tr>
}

</table>
