﻿@model IEnumerable<DiemDanhVanTay.Models.ThongTinThamGiaSuKien>

@{
    ViewBag.Title = "Thống kê";
    ViewBag.Page = "ThongKe";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="content-header">
    <h1>
        Thống kê
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Home
            </a>
        </li>
        <li class="active">Thống kê</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-filter"></i> Tìm kiếm
                    </h3>
                </div>
                <div class="box-body">
                    <form class="form-horizontal" action="">
                        <div class="box-body">
                            @using (Html.BeginForm())
                            {
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Sự kiện</label>
                                        <div class="col-sm-9">
                                            @Html.DropDownList("SuKienID", null, htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-3 control-label">Ngày sự kiện</label>
                                        <div class="col-sm-7">
                                            <input type="date" class="form-control" placeholder="dd/mm/yyyy">
                                        </div>
                                    </div>
                                </div>*@
                                <div class="col-sm-2">
                                    <div class="form-group text-right">
                                        <button type="submit" class="btn btn-primary">Tìm </button>
                                        @*<button type="submit" class="btn btn-link">
                                                <i class="fa fa-print"></i> Print
                                            </button>*@
                                    </div>
                                </div>
                            }               
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-bar-chart"></i> Thống kê Điểm Danh
                    </h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Mã số sinh viên</th>
                                <th>Tên sinh viên</th>
                                <th>Sự kiện</th>
                                <th>Thời gian vào</th>
                                <th>Thời gian ra</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{int i = 1;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@i</td>
                                    <td>
                                        @Html.ValueFor(modelItem => item.NguoiDung.MSSV)
                                    </td>
                                    <td>
                                        <a href="#">@Html.ValueFor(modelItem => item.NguoiDung.HoTen)</a>
                                    </td>
                                    <td>@Html.ValueFor(modelItem => item.SuKien.TenSuKien)</td>
                                    <td>@Html.ValueFor(modelItem => item.ThoiGianVao)</td>
                                    <td>@Html.ValueFor(modelItem => item.ThoiGianRa)</td>
                                    <td>
                                        @if (item.TrangThai == 1)
                                        {
                                            <span class="label label-success">đi học</span>
                                        }
                                        else
                                        {
                                            <span class="label label-danger">nghỉ học</span>
                                        }

                                    </td>
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>

