﻿@*@model DiemDanhVanTay.Models.NguoiDung*@
@using DiemDanhVanTay.Models;
@using System;
@model Tuple<NguoiDung, IEnumerable<ThongTinThamGiaSuKien>>
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Thông tin Cá nhân";
}


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Thông tin cá nhân
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Trang chủ
            </a>
        </li>
        <li class="active">Thông tin cá nhân</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="row">
        <div class="col-md-3">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle" src="~/Lib/dist/img/user8-128x128.jpg" alt="User profile picture">

                    <h3 class="profile-username text-center">@Html.DisplayFor(model => model.Item1.HoTen)</h3>

                    <p class="text-muted text-center">@Html.DisplayFor(model => model.Item1.LoaiNguoiDung.TenLoaiNguoiDung)</p>

                    <ul class="list-group list-group-unbordered">
                        <li class="list-group-item text-center">
                            <b>Trường ĐH khoa học tự nhiên</b>
                        </li>
                        <li class="list-group-item">
                            <b>MSSV</b>
                            <span class="pull-right">@Html.DisplayFor(model => model.Item1.MSSV)</span>
                        </li>
                        <li class="list-group-item">
                            <b>Niên khoá</b>
                            <span class="pull-right">2017 - 2018</span>
                        </li>
                        <li class="list-group-item">
                            <b>Trạng thái</b>
                            @if (Model.Item1.TrangThai)
                            {
                                <span class="pull-right label label-success">Hoạt động</span>
                            }
                            else
                            {
                                <span class="pull-right label label-warning">Tạm khóa</span>
                            }

                        </li>

                    </ul>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin chi tiết</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">

                    <strong>Ngày sinh</strong>
                    <p class="pull-right">
                        @Html.DisplayFor(model => model.Item1.NgaySinh)
                    </p>
                    <hr>
                    <strong>CMND</strong>

                    <p class="pull-right">@Html.DisplayFor(model => model.Item1.CMND)</p>

                    <hr>
                    <strong>Mobi</strong>

                    <p class="pull-right">@Html.DisplayFor(model => model.Item1.DienThoai)</p>

                    <hr>

                    <strong>Email</strong>

                    <p class="pull-right">
                        <a href="mailto:">@Html.DisplayFor(model => model.Item1.Email)</a>
                    </p>

                    <hr>

                    <strong>
                        <i class="fa fa-map-marker margin-r-5"></i> Địa chỉ
                    </strong>

                    <p class="text-muted">@Html.DisplayFor(model => model.Item1.DiaChi)</p>

                    <hr>
                    <p>
                        @Html.ActionLink("Cập nhật thông tin người dùng", "Edit", new { id = Model.Item1.NguoiDungID })
                    </p>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Các sự kiện sắp tham gia</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        @foreach (var item in Model.Item2)
                        {
                            if (item.SuKien.ThoiGianKetThuc <= (new DateTime()))
                            {
                                if (item.TrangThai == 1)
                                {

                                    <div class="col-lg-4 col-md-6 col-xs-12">
                                        <div class="small-box bg-aqua">
                                            <div class="inner">
                                                <h3>
                                                    <span class="text-small">p.</span>C23
                                                </h3>

                                                <p>Môn Phát triển Ứng Dụng Hệ Thống Thông Tin hiện đại</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-book"></i>
                                            </div>
                                            <a href="~/SuKien/Details/@item.SuKienID" class="small-box-footer">
                                                Xem chi tiết
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-4 col-md-6 col-xs-12">
                                        <div class="small-box bg-red">
                                            <div class="inner">
                                                <h3>
                                                    <span class="text-small">p.</span>C23
                                                </h3>

                                                <p>Môn Phát triển Ứng Dụng Hệ Thống Thông Tin hiện đại</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-book"></i>
                                            </div>
                                            <a href="~/SuKien/Details/@item.SuKienID" class="small-box-footer">
                                                Xem chi tiết
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Các sự kiện đã tham gia</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        @foreach (var item in Model.Item2)
                        {
                            if (item.SuKien.ThoiGianKetThuc > (new DateTime()))
                            {
                                if (item.TrangThai == 1)
                                {

                                    <div class="col-lg-4 col-md-6 col-xs-12">
                                        <div class="small-box bg-aqua">
                                            <div class="inner">
                                                <h3>
                                                    <span class="text-small">p.</span>C23
                                                </h3>

                                                <p>Môn Phát triển Ứng Dụng Hệ Thống Thông Tin hiện đại</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-book"></i>
                                            </div>
                                            <a href="~/SuKien/Details/@item.SuKienID" class="small-box-footer">
                                                Xem chi tiết
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-lg-4 col-md-6 col-xs-12">
                                        <div class="small-box bg-red">
                                            <div class="inner">
                                                <h3>
                                                    <span class="text-small">p.</span>C23
                                                </h3>

                                                <p>Môn Phát triển Ứng Dụng Hệ Thống Thông Tin hiện đại</p>
                                            </div>
                                            <div class="icon">
                                                <i class="fa fa-book"></i>
                                            </div>
                                            <a href="~/SuKien/Details/@item.SuKienID" class="small-box-footer">
                                                Xem chi tiết
                                                <i class="fa fa-arrow-circle-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            @*<div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Các sự kiện đã kết thúc</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <!-- /.box-tools -->
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="small-box bg-gray disabled ">
                                <div class="inner">
                                    <h3>
                                        <span class="text-small">C23
                                    </h3>

                                    <p>Môn Phát triển Ứng Dụng Hệ Thống Thông Tin hiện đại</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-book"></i>
                                </div>
                                <a href="./event_detail.html" class="small-box-footer">
                                    Xem chi tiết
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-xs-12">
                            <div class="small-box bg-gray disabled ">
                                <div class="inner">
                                    <h3>
                                        <span class="text-small">p.</span>C23
                                    </h3>
                                    <p>16HCB - Môn Kiểm chứng phần mềm</p>
                                </div>
                                <div class="icon">
                                    <i class="fa fa-book"></i>
                                </div>
                                <a href="./event_detail.html" class="small-box-footer">
                                    Xem chi tiết
                                    <i class="fa fa-arrow-circle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>*@
            <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->



