﻿@model DiemDanhVanTay.Models.NguoiDung

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Edit";
}

@*<h2>Edit</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>NguoiDung</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.NguoiDungID)

            <div class="form-group">
                @Html.LabelFor(model => model.LoaiNguoiDungID, "LoaiNguoiDungID", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("LoaiNguoiDungID", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.LoaiNguoiDungID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MSSV, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MSSV, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MSSV, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MatKhau, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgaySinh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgaySinh, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CMND, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CMND, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DiaChi, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DienThoai, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DienThoai, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayTao, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayTao, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = Convert.ToDateTime(Model.NgayTao) } })
                    @Html.ValidationMessageFor(model => model.NgayTao, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.NgayCapNhat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayCapNhat, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", @Value = Convert.ToDateTime(Model.NgayCapNhat) } })
                    @Html.ValidationMessageFor(model => model.NgayCapNhat, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }



    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }*@


<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Cập nhật tài khoản
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index","Home")">
                <i class="fa fa-dashboard"></i> Trang chủ
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "NguoiDung")">Người dùng</a>
        </li>
        <li class="active">Cập nhật</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-offset-3 col-md-6">
            <!-- general form elements -->
            <div class="box box-primary mt-20">
                <div class="box-header with-border">
                    <h3 class="box-title">Cập nhật</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên người dùng</label>
                            @*<input type="text" class="form-control" placeholder="Tên người dùng...">*@
                            @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên người dùng..." } })
                        </div>
                        <div class="form-group">
                            <label>Loại người dùng</label>
                            @Html.DropDownList("LoaiNguoiDungID", null, htmlAttributes: new { @class = "form-control" })
                            @*<select class="form-control">
                                    <option>Sinh viên</option>
                                    <option>Giáo viên</option>
                                    <option>Admin</option>
                                </select>*@
                        </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            @*<input type="date" class="form-control" placeholder="dd/mm/yyyy">*@
                            @*@Html.EditorFor(model => model.NgaySinh, new { htmlAttributes = new { @class = "form-control", @Value = Convert.ToDateTime(Model.NgaySinh) } })*@
                            @Html.TextBoxFor(model => model.NgaySinh , "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "dd/mm/yyyy", @Value = Convert.ToDateTime(Model.NgaySinh) })
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            @*<input type="email" class="form-control" placeholder="Email">*@
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            @*<input type="tel" class="form-control" placeholder="Số điện thoại">*@
                            @Html.EditorFor(model => model.DienThoai, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                        </div>
                        <div class="form-group">
                            <label>Điện thoại</label>
                            @*<input type="tel" class="form-control" placeholder="Số điện thoại">*@
                            @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                        </div>
                        <div class="form-group">
                            <label>Chứng minh nhân dân</label>
                            @*<input type="text" class="form-control" placeholder="Chứng minh nhân dân...">*@
                            @Html.EditorFor(model => model.CMND, new { htmlAttributes = new { @class = "form-control", @placeholder = "Chứng minh nhân dân..." } })
                        </div>
                        <div>
                            @Html.HiddenFor(model => model.NguoiDungID)
                            @Html.HiddenFor(model => model.MatKhau)
                            @Html.HiddenFor(model => model.MSSV)
                            @Html.HiddenFor(model => model.NgayTao)
                            @Html.HiddenFor(model => model.NgayCapNhat)
                        </div>
                        <div class="checkbox">
                            <label>
                                @*<input type="checkbox" checked> Kích hoạt tài khoản*@
                                @Html.EditorFor(model => model.TrangThai) Kích hoạt tài khoản
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
                @*</form>*@
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>