﻿@model DiemDanhVanTay.Models.CreateAndIndexNguoiDungModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "Tài khoản";
    ViewBag.Page = "NguoiDung";
}

<section class="content-header">
    <h1>
        Tài khoản
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="@Url.Action("Index", "Home")">
                <i class="fa fa-dashboard"></i> Trang chủ
            </a>
        </li>
        <li class="active">Tài khoản</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-sm-8">
            <div class="box box-primary">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Active</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.NguoiDungs)
                            {
                                <tr>
                                    <td>
                                        <a href="/NguoiDung/Details/@Html.ValueFor(modelItem => item.NguoiDungID)">
                                            @Html.ValueFor(modelItem => item.HoTen)
                                        </a>
                                    </td>
                                    <td>@Html.ValueFor(modelItem => item.Email)</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            <li>
                                                @Html.ValueFor(modelItem => item.LoaiNguoiDung.TenLoaiNguoiDung)
                                            </li>
                                        </ul>
                                    </td>
                                    @if (item.TrangThai)
                                    {
                                        <td>
                                            <i class="fa fa-check text-success"></i>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <i class="fa fa-ban text-danger"></i>
                                        </td>
                                    }

                                    <td class="text-right">
                                        <a href="@Url.Action("Edit", "NguoiDung", new { id = item.NguoiDungID })" class="btn btn-xs btn-info">
                                            <i class="fa fa-fw fa-edit"></i> Edit
                                        </a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- left column -->
        <div class="col-sm-4">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Thêm người dùng</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                @*<form role="form">*@
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên người dùng</label>
                            @*<input type="text" class="form-control" placeholder="Tên người dùng...">*@
                            @Html.EditorFor(model => model.NguoiDung.HoTen, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên người dùng..." } })
                        </div>
                        <div class="form-group">
                            <label>Loại người dùng</label>
                            @*@Html.DropDownList("LoaiNguoiDungID", null, htmlAttributes: new { @class = "form-control" });*@
                            @Html.DropDownListFor(model => model.NguoiDung.LoaiNguoiDungID, ViewBag.LoaiNguoiDungID as IEnumerable<SelectListItem>, htmlAttributes: new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Ngày sinh</label>
                            @*<input type="date" class="form-control" placeholder="dd/mm/yyyy">*@
                            @Html.EditorFor(model => model.NguoiDung.NgaySinh, new { htmlAttributes = new { @class = "form-control", @placeholder = "mm/dd/yyyy" } })
                        </div>
                        <div class="form-group">
                            <label>Chứng minh nhân dân</label>
                            @*<input type="text" class="form-control" placeholder="Chứng minh nhân dân...">*@
                            @Html.EditorFor(model => model.NguoiDung.CMND, new { htmlAttributes = new { @class = "form-control", placeholder = "Chứng minh nhân dân..." } })
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            @*<input type="email" class="form-control" placeholder="Email">*@
                            @Html.EditorFor(model => model.NguoiDung.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Email" } })
                        </div>
                        <div class="form-group">
                            <label>Số điện thoại</label>
                            @*<input type="tel" class="form-control" placeholder="Số điện thoại">*@
                            @Html.EditorFor(model => model.NguoiDung.DienThoai, new { htmlAttributes = new { @class = "form-control", @placeholder = "Số điện thoại" } })
                        </div>
                        <div class="form-group">
                            <label>Địa chỉ</label>
                            @Html.EditorFor(model => model.NguoiDung.DiaChi, new { htmlAttributes = new { @class = "form-control", @placeholder = "Địa chỉ" } })
                        </div>
                        <div class="checkbox">
                            @*<label>
                                    <input type="checkbox" checked> Kích hoạt tài khoản
                                </label>*@
                            <label>
                                @Html.EditorFor(model => model.NguoiDung.TrangThai) Kích hoạt tài khoản
                            </label>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                }
                @*</form>*@
            </div>
            <!-- /.box -->
        </div>
        <!--/.col (left) -->
    </div>
    <!-- /.row -->
</section>
