﻿@model DiemDanhVanTay.Models.MayQuetTheVanTay

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MayQuetTheVanTay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenMay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MayQuetTheVanTayID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
